
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.small {
    font-size: 80%;
}

.smallish {
    font-size: 90%;
}

.font-weight-bold {
  font-weight: bold;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

